@import "../../scss/config";
@import "../../scss/common";

.loader {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  top: 0;
  left: 0;
  background-color: $bg-green;
  position: fixed;
  z-index: 3;
  font-family: $loader-font;
  &-container {
    .portfolio-name {
      font-size: $lg-font;
      @media (max-width: 768px) {
        font-size: $mini-lg-font;
      }
      @media (max-width: 600px) {
        font-size: $xsm-font;
      }
    }
    .portfolio-footer {
      font-size: $xsm-font;
      @media (max-width: 600px) {
        font-size: $xxsm-font;
      }
    }
  }
}
